.section-2 {
  background-color: #88b5bf;
}

.section-2__inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-right: -15px;
  margin-left: -15px;
  padding: 30px;

  @media (max-width: $screen--768 - 1) {
    padding-bottom: 0;
  }

  @media (max-width: $screen--375 - 1) {
    margin-right: 0;
    margin-left: 0;
  }
}

.section-2__block-wrap {
  position: relative;
  flex-basis: calc(25% - 30px);
  margin-right: 15px;
  margin-left: 15px;
  padding-bottom: 17.5%;

  @media (max-width: $screen--768 - 1) {
    flex-basis: calc(50% - 30px);
    margin-bottom: 30px;
    padding-bottom: 36%;
  }

  @media (max-width: $screen--375 - 1) {
    flex-basis: 100%;
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 78.4%;
  }
}

.section-2__block {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #0d89b0;
}

@supports (aspect-ratio: 1.275) {
  .section-2__block-wrap {
    aspect-ratio: 1.275;
    padding-bottom: 0;
  }
}
